<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/homepage.css">
  <link rel="icon" href="static/images/favicon3.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <div class="slider"></div>
  <title>Vidya Valley Election Website</title>
</head>
<body>

  <section id="top">
  <div class="row">
      <div class="col-md-6 push-center">

       <h3 class="toph3">Yes, it's finally time! Welcome to the</h3>
      <h1 class="toph1">2021 Vidya Valley Student Council Elections </h1>
      <!-- <button class="btn2"><a id="a1" href="#second">Let's go!</a></button> -->
      </div>
      <div class="col-md-6 align-image-right">
      <img class="vote-img" src="images/vote1.jpg" alt="Election picture">

      </div>
  </div>
  </section>
  <section id="second">
  <div class="row two">
      <div class="col-md-6">


      <h2 class="c padded">Still undecided?</h1>
      </div>
      <div class="col-md-6">

      <button class="btn1" id="btn-kyc">Know your candidates!</button>

      </div>
  </div>
  <div class="row two">
      <div class="col-md-6">

       <h2 class="c padded">Feeling confident?</h1>
      </div>
      <div class="col-md-6">

      <button class="btn1" id="btn-vt">Vote now!</button>

      </div>
  </div>
  </section>
  <!-- <footer id="f">designed by atharvise</footer> -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineMax.min.js" integrity="sha512-lJDBw/vKlGO8aIZB8/6CY4lV+EMAL3qzViHid6wXjH/uDrqUl+uvfCROHXAEL0T/bgdAQHSuE68vRlcFHUdrUw==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js" integrity="sha512-8Wy4KH0O+AuzjMm1w5QfZ5j5/y8Q/kcUktK9mPUVaUoBvh3QPUZB822W/vy7ULqri3yR8daH3F58+Y8Z08qzeg==" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="JS/index.js" charset="utf-8"></script>

</body>
</html>
