<%- include("partials/sheader");-%>
<h1 class="ballot-title extra-pad">It seems that you were cheating!</h1>
<p class="normal-font extra-pad">Please don't do that. Close the window and try again. If you believe this was a mistake, contact the administrators.</p>

<script src="/JS/sanimated.js" charset="utf-8"></script>
<%- include("partials/footer");-%>
