<%- include("partials/sheader");-%>
<h1 class="normal-font extra-pad"><%= pt%></h1>
<p class="normal-font extra-pad"><%= pc%></p>

<script src="/JS/sanimated.js" charset="utf-8"></script>
<%- include("partials/footer");-%>
